<section id="about" class="mt-4 bg-white">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <h3 class="title text-uppercase text-center display-5">* About *</h3>
      </div>
    </div>
  </div>
  <div class="container h-100">
    <div class="row p-4">
      <div class="col-5 d-none d-lg-block">
        <div class="content">
          <div class="card bg-dark text-white">
            <img
              class="card-img img-fluid"
              [src]="'assets/images/terry.jpg'"
              alt="Card image"
            />
          </div>
        </div>
      </div>
      <div class="col-12 col-sm-12 col-md-12 col-lg-7 col-xl-7">
        <div class="content">
          <p class="lead">
            Terry started repairing jukeboxes at the age of 14. His Dad had him
            completely tear down Wurlitzer Jukeboxes and reassemble them! If
            they didn’t work, Terry had to repeat the process! Had to do it 4
            times before it finally worked!
          </p>
          <p class="lead">
            After College, Terry started working "Route Operations" for his Dad
            in Billings, MT. At the age of 22 he moved to Thermopolis Wyoming to
            work his Dad’s Wyoming Route! His repair training spread to Pinball
            Machines, Shooting Galleries, and Bowling Machines, as well as
            Seeburg, AMI, and Rockola Jukeboxes. Terry bought the Wyoming Route
            from his Dad in 1977! In 1989, he purchased several CD Jukeboxes and
            was educated, through his Distributor (Struve Distributing) in Salt
            Lake City to repair them! Sold the Route in 1994 and worked other
            industries until 2006.
          </p>

          <p class="lead d-none d-lg-block">
            Terry was employed in 2006 by H.A. Franz, a Dallas coin-op
            Distributor, through May of 2008! He worked on Vending equipment,
            Countertop Videos, learned to program and repair AMI Network
            Jukeboxes, and sold Vending Equipment in North Texas and Oklahoma.
          </p>

          <p class="lead d-none d-lg-block">
            Started his own Mobile Jukebox, Pinball, and Vending Repair business
            in May of 2008! Terry opened a shop in September of 2013 to
            accommodate customers with Jukeboxes and Pinballs with needs that
            exceed what his Mobile Repair Service can provide!
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
