<div id="jumbo" class="jumbotron jumbotron-fluid">
  <div class="container h-100">
    <div class="row">
      <div class="col-12 d-none d-sm-block">
        <h1 class="display-5 title text-center">Langhausen * Enterprises</h1>
        <p class="description lead text-center text-uppercase">
          Your JukeBox Repair Service
        </p>
      </div>
      <div class="col-12 d-sm-none">
        <h4 class="title title-small text-center">Langhausen * Enterprises</h4>
        <p class="description lead text-center text-uppercase">
          Your JukeBox Repair Service
        </p>
      </div>
    </div>

    <ul ngbNav #nav="ngbNav" class="nav">
      <li ngbNavItem class="nav-item">
        <a ngbNavLink>Home</a>
        <ng-template ngbNavContent class="h-100">
          <app-image-slider
            [sliderImages]="carouselImageSlider"
          ></app-image-slider>
        </ng-template>
      </li>
      <li><p class="non-link">//</p></li>
      <li ngbNavItem class="nav-item">
        <a ngbNavLink>Services</a>
        <ng-template ngbNavContent class="h-100">
          <app-sections></app-sections>
        </ng-template>
      </li>
      <li><p class="non-link">//</p></li>
      <li ngbNavItem class="nav-item">
        <a ngbNavLink>About</a>
        <ng-template ngbNavContent class="h-100">
          <app-about-section></app-about-section>
        </ng-template>
      </li>
      <li><p class="non-link">//</p></li>
      <li ngbNavItem class="nav-item">
        <a ngbNavLink>Testimonials</a>
        <ng-template ngbNavContent class="h-100">
          <app-testimonial-section></app-testimonial-section>
        </ng-template>
      </li>
      <li><p class="non-link">//</p></li>
      <li ngbNavItem class="nav-item">
        <a ngbNavLink>Jukebox Blog</a>
        <ng-template ngbNavContent class="h-100">
          <div class="container mt-4">
            <div class="row">
              <div class="col-12 text-center">
                <a class="btn btn-lg btn-warning text-dark" href="https://langhausenenterprises.blogspot.com/">Check Out The Jukebox Blog</a>
              </div>
            </div>
          </div>
        </ng-template>
      </li>
      <!--      <li><p class="non-link">//</p></li>-->
      <!--      <li ngbNavItem class="nav-item">-->
      <!--        <a ngbNavLink>Contact</a>-->
      <!--        <ng-template ngbNavContent class="h-100">-->
      <!--          <app-contact-section (emitFormSubmit)="onSubmit($event)"></app-contact-section>-->
      <!--        </ng-template>-->
      <!--      </li>-->
    </ul>
    <div [ngbNavOutlet]="nav"></div>
  </div>
</div>
