<div id="jumbo" class="jumbotron jumbotron-fluid">
  <div class="container h-100">
    <h1 class="display-5 title text-center">Langhausen * Enterprises</h1>
    <p class="description lead text-center text-uppercase">Your JukeBox Repair Service</p>

    <ul ngbNav #nav="ngbNav" class="nav">
      <li ngbNavItem class="nav-item">
        <a ngbNavLink>Home</a>
        <ng-template ngbNavContent class="h-100">
          <app-image-slider
            [sliderImages]="carouselImageSlider"
          ></app-image-slider>
        </ng-template>
      </li>
      <li><p class="non-link">//</p></li>
      <li ngbNavItem class="nav-item">
        <a ngbNavLink>Services</a>
        <ng-template ngbNavContent class="h-100">
          <app-sections></app-sections>
        </ng-template>
      </li>
      <li><p class="non-link">//</p></li>
      <li ngbNavItem class="nav-item">
        <a ngbNavLink>About</a>
        <ng-template ngbNavContent class="h-100">
          <app-about-section></app-about-section>
        </ng-template>
      </li>
      <li><p class="non-link">//</p></li>
      <li ngbNavItem class="nav-item">
        <a ngbNavLink>Testimonials</a>
        <ng-template ngbNavContent class="h-100">
          <app-testimonial-section></app-testimonial-section>
        </ng-template>
      </li>
      <li><p class="non-link">//</p></li>
      <li ngbNavItem class="nav-item">
        <a ngbNavLink>Contact</a>
        <ng-template ngbNavContent class="h-100">
          <app-contact-section (emitFormSubmit)="onSubmit($event)"></app-contact-section>
        </ng-template>
      </li>
    </ul>
    <div [ngbNavOutlet]="nav"></div>
  </div>
</div>
