<section id="contact" class="mt-4 bg-white">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <h3 class="title text-uppercase text-center display-5">* Contact *</h3>
      </div>
    </div>
  </div>
  <div class="container h-100">
    <div
      class="row h-100 p-4 d-flex flex-column justify-content-center align-items-center"
    >
      <div class="col-8">
        <ng-container *ngIf="contactForm$ | async as content">
          <form class="row" [formGroup]="form">
            <div *ngFor="let contact of content" [ngClass]="contact.class">
              <div [ngSwitch]="contact.controlType">
                <mat-form-field class="w-100" *ngSwitchCase="'textbox'">
                  <mat-label>{{ contact.label }}</mat-label>
                  <input
                    matInput
                    [formControlName]="contact.key"
                    placeholder="{{ contact.placeholder }}"
                    [value]="contact.value || ''"
                    [id]="contact.key"
                    [type]="contact.type"
                  />
                </mat-form-field>

                <mat-form-field class="w-100" *ngSwitchCase="'phone'">
                  <mat-label>{{ contact.label }}</mat-label>
                  <input
                    type="tel"
                    matInput
                    [formControlName]="contact.key"
                    placeholder="{{ contact.placeholder }}"
                    [value]="contact.value || ''"
                    [id]="contact.key"
                    [type]="contact.type"
                    [ngClass]="contact.class"
                  />
                </mat-form-field>

                <mat-form-field class="w-100" *ngSwitchCase="'text-area'">
                  <mat-label>{{ contact.label }}</mat-label>
                  <input
                    matInput
                    [formControlName]="contact.key"
                    placeholder="{{ contact.placeholder }}"
                    [value]="contact.value || ''"
                    [id]="contact.key"
                    [type]="contact.type"
                    [ngClass]="contact.class"
                  />
                </mat-form-field>
              </div>
            </div>
            <div class="col-12">
              <button
                mat-raised-button
                class="w-100"
                type="submit"
                (click)="onSubmit(form.value)"
                [disabled]="!form.valid"
              >
                Submit
              </button>
            </div>
          </form>
        </ng-container>
      </div>
    </div>
  </div>
</section>
