<section id="services" class="mt-4">
    <div class="container">
        <div class="row">
            <div class="col">
                <h3 class="title text-uppercase text-center display-5">* Services *</h3>
            </div>
        </div>
    </div>
    <div class="container h-100">
        <div class="row h-100 p-5">
            <div class="col-6">
                <div class="content text-center">
                    <h4>
                        <i class="material-icons">build</i>&nbsp;&nbsp;
                        Repair
                    </h4>
                    <p class="lead">  Repair Jukeboxes from the 1950’s through the the CD Jukebox era. <small>(Rockola, Wurlitzer, Seeburg and Rowe AMI Jukeboxes.)</small></p>
                </div>
            </div>
            <div class="col-6">
                <div class="content text-center">
                    <h4>
                        <i class="material-icons">directions_car</i>&nbsp;&nbsp;
                        Mobile Repair
                    </h4>
                    <p class="lead">  Come to your home, place of business, or you can haul your machine to the L.E. workshop located in Arlington, TX. <small>(Monday – Thursday)</small></p>
                </div>
            </div>
            <div class="col-6">
                <div class="content text-center">
                    <h4>
                        <i class="material-icons">location_on</i>&nbsp;&nbsp;
                        Service Area
                    </h4>
                    <p class="lead">  Service all of North Texas, West to the New Mexico border (including Panhandle), East to the Louisiana border and South as far as Waco!</p>
                </div>
            </div>
            <div class="col-6">
                <div class="content text-center">
                    <h4>
                        <i class="material-icons">money</i>&nbsp;&nbsp;
                        Sales &amp; Consignments
                    </h4>
                    <p class="lead">  Sell Jukeboxes for a fair price and we repair what we sell within our service area. <small>(All Jukeboxes are required to be picked up in Arlington, TX by the buyer.)</small></p>
                </div>
            </div>
        </div>
    </div>
</section>
