<section id="services" class="mt-4">
    <div class="container">
        <div class="row">
            <div class="col">
                <h3 class="title text-uppercase text-center display-5">* Services *</h3>
            </div>
        </div>
    </div>
    <div class="container h-100">
        <div class="row h-100 p-5">
            <div class="col-lg-6 col-md-6 col-sm-12 col-12">
                <div class="content text-center">
                    <h4>
                        <i class="material-icons">build</i>&nbsp;&nbsp;
                        Repair
                    </h4>
                    <p class="lead">  Repair Jukeboxes from the 1950’s through the the CD Jukebox era. <small>(Rockola, Wurlitzer, Seeburg and Rowe AMI Jukeboxes.)</small></p>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12 col-12">
                <div class="content text-center">
                    <h4>
                        <i class="material-icons">directions_car</i>&nbsp;&nbsp;
                        Mobile Repair
                    </h4>
                    <p class="lead">  Come to your home, place of business, or you can haul your machine to the L.E. workshop located in Arlington, TX. <small>(Monday – Thursday)</small></p>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12 col-12">
                <div class="content text-center">
                    <h4>
                        <i class="material-icons">location_on</i>&nbsp;&nbsp;
                        Service Area
                    </h4>
                    <p class="lead">  Service all of North Texas, West to the New Mexico border (including Panhandle), East to the Louisiana border and South as far as Waco!</p>
                </div>
            </div>
            <div class="col-lg-6 col-md-6">
                <div class="content text-center">
                    <h4>
                        <i class="material-icons">phone</i>&nbsp;&nbsp;
                        Phone Technical Services
                    </h4>
                    <p class="lead"> Schedule a free consultation and Terry will direct you if a at home service call is necessary or can walk you through the repair over the phone.</p>
                </div>
            </div>
            <div class="col-12 d-flex justify-content-center">
                <a class="btn btn-warning" href="" onclick="Calendly.initPopupWidget({url: 'https://calendly.com/langhausenenterprises/phone-jukebox-repair-service?background_color=4d5055&text_color=ffffff&primary_color=dcd156'});return false;">Phone Service Repair Call with Terry</a>
            </div>
        </div>
    </div>
</section>
